<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet/style.css"/>
    <title>login</title>
</head>
<body>
    <div class="sign-in">
        <form action="/login" method="post" class="form" enctype="application/json">
            <h2>로그인</h2>
            <div class="text-form">
                <input type="text" name="name" placeholder="아이디" required/>
            </div>
            <div class="text-form">
                <input type="password" name="password" placeholder="비밀번호" required/>
            </div>
            
            <input type="submit" class="btn" value="LOGIN"/>
        </form>

        <p>계정이 없으신가요? <a href="/register">회원가입</a></p>
    
    </div>
    
    <div class="box">
    </div>

</body>
</html>